@page "{id}"   //this is how values are passed among pages.
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.ReadModel

@{
    ViewData["Title"] = "Read page";
}


<h1>@Model.Product.Title</h1>
<!-- Here we created the product description which has a title, image and breif description-->
<div class="content">
    <img class="card-img" src='@Model.Product.Image' width="300" height="500" alt='Image for @Model.Product.Title'>

    <p class="card-text">@Model.Product.Description</p>
    <p class="text-info">Phone: @Model.Product.Phone<br>URL: @Model.Product.Url<br />
        Menu: @Model.Product.OnlineMenuLink</p>
</div>

<br />
<br />

<div class="row">
    <a asp-page="Update" asp-route-id="@Model.Product.Id" class="btn btn-primary">Update</a> &nbsp; &nbsp;
    <a asp-page="Delete" asp-route-id="@Model.Product.Id" class="btn btn-danger">Delete</a> 
</div>
