@page "{id}"   //this is how values are passed among pages.
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.ReadModel

@{
    ViewData["Title"] = "Read page";
}


<h1>@Model.Product.Title</h1>
<!-- Here we created the product description which has a title, image and breif description-->
<div class="content read-div">
    <img class="read-card-img" src='@Model.Product.Image' alt='Image for @Model.Product.Title'>

    <table class="table table-bordered table-striped">
        <tr>
            <td>Address:</td>
            <td>@Model.Product.Description</td>
        </tr>
        <tr>
            <td>Store Phone:</td>
            <td>@Model.Product.Phone</td>
        </tr>
        <tr>
            <td>URL:</td>
            <td><a href="@Model.Product.Url">@Model.Product.Url</a></td>
        </tr>
        <tr>
            <td>Menu:</td>
            <td><a href="@Model.Product.OnlineMenuLink">@Model.Product.OnlineMenuLink</a></td>
        </tr>
    </table>
    <div>
        <a asp-page="Update" asp-route-id="@Model.Product.Id" class="btn btn-primary">Update</a> &nbsp; &nbsp;
        <a asp-page="Delete" asp-route-id="@Model.Product.Id" class="btn btn-danger">Delete</a>
    </div>
</div>

<br />
<br />
